<div class="flex justify-evenly">
  <a href="mailto:{{ site.author.email }}"
     class="text-text/60 hover:text-primary transition-colors"
     aria-label="Mail">
    {% include icon.html name="mail" %}
  </a>

  <div class="w-px h-4 bg-text/20"></div>

  {% for link in site.data.navigation.social %}
    <a href="{{ link.url | absolute_url }}"
       class="text-text/60 hover:text-primary transition-colors"
       target="_blank"
       aria-label="{{ link.account }} on {{ link.icon | capitalize }}">
      {% include icon.html name=link.icon %}
    </a>
  {% endfor %}
</div>