<link rel="icon" href="{{ '/assets/images/favicons/favicon.ico' | relative_url }}" sizes="32x32">
<link rel="icon" href="{{ '/assets/images/favicons/favicon-16x16.png' | relative_url }}" sizes="16x16" type="image/png">
<link rel="icon" href="{{ '/assets/images/favicons/favicon-32x32.png' | relative_url }}" sizes="32x32" type="image/png">
<link rel="apple-touch-icon" href="{{ '/assets/images/favicons/apple-touch-icon.png' | relative_url }}" sizes="180x180">
<link rel="icon" href="{{ '/assets/images/favicons/android-chrome-192x192.png' | relative_url }}" sizes="192x192" type="image/png">
<link rel="icon" href="{{ '/assets/images/favicons/android-chrome-512x512.png' | relative_url }}" sizes="512x512" type="image/png">
<link rel="mask-icon" href="{{ '/assets/images/favicons/safari-pinned-tab.svg' | relative_url }}" color="#ffcc00">
<meta name="msapplication-TileImage" content="{{ '/assets/images/favicons/mstile-150x150.png' | relative_url }}">
<meta name="msapplication-TileColor" content="#ffcc00">
<meta name="theme-color" content="#ffcc00">